.home-page {
    width: 70%;
    min-height: 100vh;
    background: url("/dark.jpg") no-repeat;
    min-height: calc(100vh);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .container-header {
    position: absolute;
    top: 0;
  }

  .filter-input {
    margin-bottom: 6px;
    font-size: 20px;
    outline: none;
    border-radius: 3px;
  }